.navbar-light .navbar-nav .nav-link {
  color: #f14668;
}

.btn.btn-custom {
  background-color: rgba(255, 161, 189, 0.984);
  color: #fdecef;
}

.btn.btn-custom:hover {
  background-color: rgb(252, 142, 175);
  color: #fff;
}

.btn.btn-custom > a {
  color: #cc3c59;
}

.btn.btn-custom > a:hover {
  color: #ff5c7c;
  text-decoration: none;
}

.fas-box-custom {
  color: #ff7d97;
}

.nav-link-custom {
  color: #cc3c59;
}

.nav-link-custom:hover {
  color: #ff5c7c;
  text-decoration: none;
}

.badge-custom {
  background-color: #ff7d97;
}
