.title-custom {
  color: #f14668;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.title-custom > a {
  color: #f14668;
}

.title-custom:hover {
  color: #ff5c7c;
  text-decoration: none;
}

@media (min-width: 767px) {
  .title-custom {
    font-size: 2.8rem;
  }
}
